*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

html,
body {
    height: 100%;
    margin: 0;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    line-height: 1.2;
}

h1,
.h1 {
    font-size: 2.5rem;
    margin: auto !important;
    width: -moz-fit-content;
    width: fit-content;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1rem;
    margin: auto !important;
    width: -moz-fit-content;
    width: fit-content;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.1rem !important;
}

h6,
.h6 {
    font-size: 1rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

body {
    overflow-x: hidden;
}

p {
    line-height: 1.75;
}

.page-section {
    padding: 6rem 0;
}

.page-section h2.section-heading {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.page-section h3.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
}

section {
    padding: 5rem 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem !important;
    }
    h3 {
        font-size: 1.2rem !important;
    }
}

@media (min-width: 768px) {
    section {
        padding: 9rem 0;
    }
}

t {
    font-weight: bold !important;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


/* Scrollbar */


/* width */

::-webkit-scrollbar {
    width: 7px;
    left: 0;
}

@media (max-width: 600px) {
     ::-webkit-scrollbar {
        width: 5px;
    }
}


/* Track */

 ::-webkit-scrollbar-track {
    background: rgba(17, 17, 17, 0);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    height: 20px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Sidebar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

.sideContent {
    text-align: center;
    width: 80%;
    display: inline-flex;
    margin: auto;
}

.navigText {
    width: 25% !important;
}

.posWrapper {
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: 1s;
    opacity: 1;
}

.hidden {
    transition: 0.5s;
    opacity: 0 !important;
}

.flatside {
    transition: ease-out 0.4s !important;
    opacity: 0 !important;
}

.hideskill {
    display: none;
}

.navigCont {
    height: 50px;
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0px;
    padding-bottom: 10px;
    background-color: #111;
}

.abt {
    align-items: center;
    font-size: 15px !important;
    margin-top: auto;
    margin-bottom: auto;
}

.skillType {
    height: 100%;
    direction: rtl;
    width: 100% !important;
}

.skills {
    height: 50%;
    direction: ltr !important;
}

.skills h5 {
    color: #bbbbbb;
    text-align: center;
}

.skills h6 {
    color: #949494;
    line-height: 1.3 !important;
    margin: 10px 0px 0px 0px !important;
}

.skill {
    color: #949494;
    line-height: 1.35;
    font-size: small;
    margin: auto;
    width: 140px;
}

.skill i {
    color: cornflowerblue;
    font-size: 10px;
}

.skill .far {
    color: #747474;
}

.skillHeader {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
}

.skillHeader i {
    flex-grow: 1;
    width: fit-content !important;
    height: fit-content !important;
    margin: auto;
    color: #bbbbbb;
}

.skillHeader i:hover {
    color: cornflowerblue;
}

.skillHeader h6 {
    text-align: center;
    width: 150px;
    height: fit-content !important;
    margin: auto !important;
}

.sidenav .col-lg-2 {
    max-width: unset !important;
}

.Hover {
    transition: background-color 0.2s;
}


/* The navigation menu links */

.sidenav a {
    text-decoration: none !important;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

@media (max-width: 600px) {
    .openNavSide {
        width: 150px !important;
    }
    .openNavMain {
        margin-left: 150px !important;
    }
    .portrait {
        width: 100px;
        height: 100px;
        margin: 10px 25px;
        border-radius: 50%;
    }
    .skills h5 {
        color: #979797;
        text-align: center;
        font-size: small !important;
    }
    .skillType {
        padding-left: unset;
    }
    .skills h6 {
        color: #818181;
        font-size: small !important;
        text-align: center !important;
    }
    .skill {
        line-height: 1.2 !important;
        width: 105px !important;
    }
    .skill i {
        font-size: 7px !important;
    }
}

@media (min-width: 600px) {
    .openNavSide {
        width: 250px !important;
    }
    .openNavMain {
        margin-left: 250px !important;
    }
    .portrait {
        width: 160px;
        height: 160px;
        margin: 20px 45px;
        border-radius: 50%;
    }
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-width: 600px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
    .abt {
        font-size: 10px !important;
    }
}